<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" ></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="fondo">
    <div class="fondo1">
      <h4>Animalitos con cola fue desarrollado en:</h4>
      <h4>Lenguaje: <span>Angular</span></h4>
      <h4>Base de datos: <span>FireBase</span></h4>
      <h4>Desarrollado por: <span>César Revelo</span></h4>
    </div>
  </div>
  <div>
    <ion-img src="https://www.utpl.edu.ec/sites/default/files/archivos/marca%20UTPL%202018-01.png"></ion-img>
  </div>
</ion-content>
