<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" ></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
<ion-card>

</ion-card>
<div class="fondo">
  <p>
    Esta aplicación está encaminada para ingreso de donaciones como ropa, alimentos o medicina para los animales
    callejeros; además podemos gestionar la recepción de las entregas, el retiro y la distribución de las mismas.
    Este proyecto es desarrollado en la ciudad de Tulcán; la aplicación puede ser usada en cualquier ciudad, porque esta problemática se la
    vive en todo el país; para su recolección y su distribución se aspira poder trabajar con fundaciones de la localidad; para que con su ayuda se pueda gestionar
    estas tareas.
  </p>
</div>
</ion-content>
