ion-content.background{
  --background: url('https://i.pinimg.com/564x/b0/62/e4/b062e4ead01dedcbf46277593fc08055--picture-day-cute-dog-pictures.jpg') 0 0/100% 100% no-repeat;
}

p{
  margin: 5px;
}

.fondo{
  text-align: justify;
  color: black;
  background-color: rgba(255, 255, 255, 0.50);
  font-size: large;
  margin-top: 40%;
}
