<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-button type="submit" [routerLink]="['/dashboard/reportes/reporte1']" expand="block">Reporte por Fechas</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-button type="submit" [routerLink]="['/dashboard/reportes/reporte2']" expand="block">Reporte por Estado</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-button type="submit" [routerLink]="['/dashboard/reportes/reporte3']" expand="block">reporte por Ubicación</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
