<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary"
          >Registro</ion-button>
        <span class="divider line one-line">o</span>
        <hr>
        <span class="already">¿Tienes Usuario?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Ingresa</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-img src="./../../../assets/LOGO.png"></ion-img>
</ion-content>
