<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal" [routerLink]="['/dashboard/donaciones/from']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of donacions">
      <ion-avatar slot="start">
        <img [src]="item.photoURL">
      </ion-avatar>
      <ion-label>
        <h3>Tipo de Donación: {{ item.tipodonacion }}</h3>
        <h5>Fecha: {{ item.date }}</h5>
        <h5>Albergue en donde Entregar: {{ item.entraga }}</h5>
        <h5>Dirección: {{ item.direccion }}</h5>
        <p>Descripción: {{ item.detalle }}</p>
        <p>Estado: {{ item.estadoentrega }}</p>
      </ion-label>
      <a slot="end" [routerLink]="['/dashboard/donaciones/from', item.id]"><ion-icon name="create-outline" color="warning"></ion-icon></a>
      <a slot="end" ><ion-icon name="trash-outline" color="danger" (click)="presentAlert(item.id)"></ion-icon></a>
    </ion-item>
  </ion-list>
</ion-content>

