<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/dashboard/tipodonacion"></ion-back-button>
    </ion-buttons>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <form [formGroup]="tipodonacionfoms">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Tipo de Adoción</ion-label>
        <ion-input placeholder="tipo" formControlName="tipo" type="text" required></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-button color="success" expand="block" (click)="save()">Guardar</ion-button>
  </form>
</ion-content>

