
ion-toolbar{
  height: 50px;
}

ion-title{
  color: white;
  font-style: oblique;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

img{
  height: 50%;
  width: 50%;
  text-align: center;
}

ion-card{
  text-align: center;

}

ion-card-header{
  text-align: left;
}

ion-card-content{
  text-align: left;
}
