<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="body">
    <div></div>
  </div>
  <form [formGroup]="registreform">
    <ion-item lines="full">
      <ion-label position="floating">
        Correo
        <p *ngIf="isValid('email')"> {{ mensajes }}</p>
      </ion-label>
      <ion-input type="text"  formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">
        Contraseña
        <p *ngIf="isValid('password')"> {{ mensajes }}</p>
      </ion-label>
      <ion-input type="password"  formControlName="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
      <ion-button type="submit" (click)="signUp()" [disabled]="registreform.invalid" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
