<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" ></ion-back-button>
    </ion-buttons>
    <ion-title>Donación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list-header>Mis Donaciones</ion-list-header>
  <ion-item *ngFor="let item of donacions">
    <ion-card button (click)="presentActionSheet(item.id)">
      <img [src]="item.photoURL"/>
      <ion-card-header>
        <ion-icon *ngIf="item.isfavorite" name="star-outline"></ion-icon>
        <ion-card-subtitle>Tipo de Donación:</ion-card-subtitle>
        <ion-card-title>{{ item.tipodonacion }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Descripción:</ion-card-subtitle>
        {{ item.detalle }}
        <ion-card-subtitle>Fecha: {{ item.date }}</ion-card-subtitle>
        <ion-card-subtitle>Donde Recibir: {{ item.entrega }}</ion-card-subtitle>
        <ion-card-subtitle>Dirección: {{ item.direccion }}</ion-card-subtitle>
        <ion-card-subtitle>Estado: {{ item.estadoentrega }} </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <!---->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Donación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="doancionfoms">
          <div class="cent">
            <ion-avatar vertical="center" horizontal="start" slot="fixed">
              <img [src]="urlphoto">
            </ion-avatar>
          </div>
          <div class="dv">
            <ion-input class="cl"  type="file" accept=".png, .jpg, .jpeg" (change)="newImagen($event.target.files)"></ion-input>
          </div>
          <div *ngIf="percentageVal | async as percentage">
            Progress: {{ percentage | number }}%
            <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
          </div>
          <div *ngIf="trackSnapshot | async as snap">
            File size: {{ snap.totalBytes | formatFileSize }} Data transfered: {{
            snap.bytesTransferred | formatFileSize }}
          </div>
          <ion-item>
            <ion-label position="stacked">Tipo de Donación</ion-label>
            <ion-select placeholder="Selecionar" formControlName="tipodonacion" required>
              <ion-select-option *ngFor="let tipo of tipodonacion" [value]="tipo.tipo">{{ tipo.tipo }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <ion-input placeholder="20/01/2022" formControlName="date" type="date" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" required>Entrega</ion-label>
            <ion-select placeholder="Selecionar" formControlName="entrega">
              <ion-select-option *ngFor="let l of lugar" [value]="l.entrega">{{ l.entrega}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input placeholder="Dirección" formControlName="direccion" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea placeholder="Ingrese la descripción..." formControlName="detalle" required></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Agregar como Favorito</ion-label>
            <ion-checkbox checked="false" formControlName="isfavorite"></ion-checkbox>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Donación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="saveedit()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="doancionfoms">
          <div class="cent">
            <ion-avatar vertical="center" horizontal="start" slot="fixed">
              <img [src]="urlphoto">
            </ion-avatar>
          </div>
          <div class="dv">
            <ion-input class="cl"  type="file" accept=".png, .jpg, .jpeg" (change)="newImagen($event.target.files)"></ion-input>
          </div>
          <div *ngIf="percentageVal | async as percentage">
            Progress: {{ percentage | number }}%
            <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
          </div>
          <div *ngIf="trackSnapshot | async as snap">
            File size: {{ snap.totalBytes | formatFileSize }} Data transfered: {{
            snap.bytesTransferred | formatFileSize }}
          </div>
          <ion-item>
            <ion-label position="stacked">Tipo de Donación</ion-label>
            <ion-select placeholder="Selecionar" formControlName="tipodonacion" required>
              <ion-select-option *ngFor="let tipo of tipodonacion" [value]="tipo.tipo">{{ tipo.tipo }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <ion-input placeholder="date" pattern="\d{4}-\d{2}-\d{2}" formControlName="date" type="date" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" required>Entrega</ion-label>
            <ion-select placeholder="Selecionar" formControlName="entrega">
              <ion-select-option *ngFor="let l of lugar" [value]="l.entrega">{{ l.entrega }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input placeholder="Dirección" formControlName="direccion" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea placeholder="Ingrese la descripción..." formControlName="detalle" required></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Agregar como favorito</ion-label>
            <ion-checkbox checked="false" formControlName="isfavorite"></ion-checkbox>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
